<div class="jumbotron">
    <h1 class="display-3">{header_text}</h1>
    <p class="lead">{subheader_text}</p>
    <hr class="my-4">
    <div class="body-text">
        <f:format.htmlentitiesDecode>{body_text}</f:format.htmlentitiesDecode>
    </div>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{button_url}" role="button">{button_text}</a>
    </p>
</div>
